
@font-face {
  font-family: satellite;
  src: url(https://github.com/thecodingone/Verena-Website/blob/master/Satellite.otf);
}

body {

  text-align:  center; 
  font-family: Satellite; 

  height: 100%;
  padding: 0px 0px 0px 0px;
  height: 10000px;
  background: linear-gradient(179deg, #91a8d0, #f7cac9);
  background-size: 400% 400%;

  -webkit-animation: gradMove 12s ease infinite;
  -moz-animation: gradMove 12s ease infinite;
  -o-animation: gradMove 12s ease infinite;
  animation: gradMove 12s ease infinite;

}    

@-webkit-keyframes gradMove {

  0%{background-position:37% 0%}
  50%{background-position:64% 100%}
  100%{background-position:37% 0%}
}

@-moz-keyframes gradMove {

  0%{background-position:37% 0%}
  50%{background-position:64% 100%}
  100%{background-position:37% 0%}
}

@-o-keyframes gradMove {

  0%{background-position:37% 0%}
  50%{background-position:64% 100%}
  100%{background-position:37% 0%}
}

@keyframes gradMove { 

  0%{background-position:37% 0%}
  50%{background-position:64% 100%}
  100%{background-position:37% 0%}
}

.firstPage {

  padding: 0px 0px 0px 220px;
  margin-top: 0px; 
  margin-bottom: 1000px; 
  float: left;

}

#main {

  position: absolute;
  top: 120px;
  left: 200px;
  padding: 10px 10px 10px 10px;

  font-size: 40px;
  color: white;
  text-align: center;

}

#appScreenshot {

  position: absolute;
  top: 30px;
  right: 50px;
  padding: 10px 10px 10px 10px;
}

#downloadButton {

  padding: 10px 10px 10px 10px; 
  font-size: 25px; 
  border-radius: 25px;
  position: absolute;
  top: 900px;
  left: 300px;
  color: white; 
  border-radius: 5px;
  border: 2px solid white; 
  height: 100px;
  width: 200px; 
  text-decoration: none; 
}

#gitButton {

  padding: 10px 10px 10px 10px; 
  font-size: 25px; 
  border-radius: 25px;
  position: absolute;
  top: 900px;
  right: 300px;
  color: white; 
  border-radius: 5px;
  border: 2px solid white; 
  height: 100px;
  width: 200px;
  text-decoration: none; 
}

#tumblrButton {

  padding: 10px 10px 10px 10px; 
  font-size: 25px; 
  border-radius: 25px;
  position: absolute;
  top: 900px;
  right: 570px;
  color: white; 
  border-radius: 5px;
  border: 2px solid white; 
  height: 100px;
  width: 200px;
  text-decoration: none; 
}

#gitButton:hover, #downloadButton:hover, #tumblrButton:hover {

  background-color: white;
  color: #666666; 

}

#break {

  left: 80px; 
  position: absolute; 
  top: 850px;
  height: 2px; 
  width: 1200px;
}

#break2 {

  left: 80px; 
  position: absolute; 
  top: 1050px;
  height: 2px; 
  width: 1200px;
}

#headerText {

  font-size: 70px; 
  color: white; 

}

#text {

  font-size: 35px; 
  color: white; 

}

#toolScreenshot {


}

.floatLeft, #headerText {


}

.floatLeft, #text {


}

.floatLeft, #toolScreenshot {


}

.floatRight, #headerText {


}

.floatRight, #text {


}

.floatRight, #toolScreenshot {


}

a:hover {

  color: #666666;
}

a {

  color: #efefef;
  text-decoration: none;
}

.secondPage {

  text-align: center; 
  float: center; 
}

#pitchLine {

  position: absolute;
  top: 1300px;
  font-size: 40px;
  color: white;

}

#greyText {

  color: #4c4c4c;

}

#emphasized {

  font-size: 110px;

}

#bottomButton {

  padding: 10px 10px 10px 10px; 
  font-size: 25px; 
  border-radius: 25px;
  color: white; 
  border-radius: 5px;
  border: 2px solid white; 
  height: 100px;
  width: 200px; 
  text-decoration: none; 

}

#bottomButton:hover {

  background-color: #666666;
  color: #FFFFFF; 

}
